<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Add a new book</h1>
    <div>
        <form action="#" th:object="${book}" th:action="@{saveBook}" method="post">
            <div>
                <label>Title</label> <input type="text" th:field="*{title}" />
            </div>

            <div>
                <label>Author</label> <input type="text" th:field="*{author}" />
            </div>

            <div>
                <label>ISBN</label> <input type="text" th:field="*{isbn}" />
            </div>

            <div>
                <label>Publication year</label> <input type="text" th:field="*{publicationYear}" />
            </div>

            <div>
                <label>Price</label> <input type="text" th:field="*{price}" />
            </div>

            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="categoryList">Category</label>
            <select id="categoryList" th:field="*{category}" class="form-control">
                <option th:each="category: ${categories}" th:value="${category.categoryId}"
                    th:text="${category.categoryName}">
                </option>
            </select>

            <div style="clear: both; display: block; height: 10px;"></div>

            <input type="submit" value="Add"></input>
        </form>

    </div>

</body>

</html>